<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        <img src="{{"/assets/GitHub-logo.png" | relative_url}}" alt="Logo" />

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p><a href="{{ site.github.podcast_url }}">Listen to <strong>episodes</strong></a></p>
        <p><a href="{{ site.github.email_mailto }}">Send an <strong>email</strong></a></p>
        <p><a href="{{ site.github.patreon }}">Support on <strong>Patreon</strong></a></p>
        <p><a href="{{ site.github.mastodon }}">Follow on <strong>Mastodon</strong></a></p>
        <p>Slack ukrse.slack.com <strong>@code4thought</strong></p>
        <p><a href="{{ site.github.linkedin }}">Follow me on <strong>LinkedIn</strong></a></p>
        <!-- -->
        <p><a class="btn btn-rss" href="/feed.xml" target="_blank"><strong>RSS</strong></a></p>
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
         <p><small>Hosted on GitHub Pages</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
